*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
  --color1:rgb(7, 62, 7);
}
/*Desktop*/
body{
  background-color: black;
}
/*Encabezado*/
.encabezado{
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: var(--color1);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.menu{
  display: inline-block;
  margin: 0px 20px;
}

/*Cuerpo de las tarjetas*/
.cuerpo{
  text-align: center;
}

/*Titulo*/
.titulo{
  margin: 10px 0px;
  font-size: 2rem;
  text-align: center;
}
/*Imagenes*/
.img{
  width: 100%;
  height: 350px;
}
/*Tarjetas*/
.tarjeta{
  margin: 20px;
  display: inline-block;
  width: 320px;
  height: 510px;
  background-color: white;
  border-radius: 2%;
  box-shadow: 0px 0px 20px gray;
  transition: 0.8s;
  cursor: pointer;
}
/*Texto de abajo de la tarjeta*/
.tarjeta > p{
  font-size: 1.1rem;
  margin-top: 5px;
  margin: 0px 5px;
}

.tarjeta:hover{
  transform: scale3d(1.1, 1.1, 1.1);
}

@media (max-width:998px){
  .menu{
    margin: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    text-shadow: 1px 1px 20px white;
    font-size: 1.1rem;
  }
  .encabezado{
    height: 240px;
  }
}

@media print {
  body {
    font-size: 12pt; /* Adjust font size for readability */
    color: black; /* Ensure text is printed in black */
    background: none; /* Remove background colors or images */
  }

  header, footer, nav {
    display: none; /* Hide unnecessary elements like navigation */
  }

  a::after {
    content: " (" attr(href) ")"; /* Show URLs for links */
  }

  img {
    max-width: 100%; /* Ensure images fit within the page */
  }
}

